body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.browser-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 20px;
  color: white;
  box-sizing: border-box;
}

.navbar button {
  padding: 15px 30px;
  margin-right: 10px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.navbar button:hover {
  background-color: #555;
}

.navbar button:active {
  background-color: #222;
}

.navbar input {
  padding: 15px;
  margin-left: 10px;
  margin-right: 10px;
  width: 60%;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 18px;
}

iframe {
  flex-grow: 1;
  width: 100%;
  height: calc(100% - 120px); /* Adjusted height based on navbar size */
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar input {
    width: 100%;
    margin: 10px 0;
  }

  .navbar button {
    width: 100%;
    margin: 10px 0;
  }
}
